# autostart applications
redshift-gtk &
nextcloud &
nm-applet &
volumeicon &
tilda --hidden &
clipit &
kalu &
termite &

#thunderbird &
firefox &
syncthing-gtk &
#syncthing &
cbatticon &

# disable beep sound
xset b off &

# keyboard layout
setxkbmap de us
setxkbmap -option caps:ctrl_modifier

# deamon mode
pcmanfm -d &
gnome-keyring-daemon &
